
  <div class="comments">
    {{#each this}}
    <section class="comment">
      <div class="comment-header"></div>
      <div class="comment-body">
        <div class="comment-content">
        {{comment}}
      </div>
      <br>
      <div class="meta">
        - {{username}} on {{format_date createdAt}}
      </div>
      </div>
    </section>
    {{/each}}
  </div>
