<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Technology Blog</title>
    </head>
    <body>
        <div class="container">
            
            <header>
                <nav>
                    <a href="/homepage">Home</a>
                    <a href="/dashboard">Work</a>
                </nav>
            </header>
            
            <!-- Render the sub layout -->
            {{{ body }}}
        </div>
    </body>
</html>
