<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Technology Blog</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">            
            <header class="mainHeader">
                <nav class="topNav">
                    <a href="/" class="navLinks">Home</a>
                     {{#if loggedIn}}
                        <a href="/dashboard" class="navLinks">Dashboard</a>
                        <a id="logout" href="/" class="navLinks">Logout</a>
                    {{else}}
                        <a href="/login" class="navLinks">Login</a>
                    {{/if}}

                </nav>
                <div class="subheader">
                    <h1>{{subHeading}}</h1>
                </div>
            </header>
            <main>
                {{{ body }}}
            </main>
        </div>
         {{#if loggedIn}}
            <script src="/js/logout.js"></script>
        {{/if}}
    </body>
</html>
