<div class="card">
    <div class="card-header">
        <h1 class="Blog-title">{{blogData.title}}</h1>
        <p>Posted by {{'User.username'}} on {{format_date blogData.createdAt}}</p>
    </div>
    <p class="card-body">
        {{blogData.content}}
    </p>
</div>
