body {
    background-color: #d9ead3;
}

.mainHeader {
    padding: 3% 4%;
    background-color: #201110;
    color: #ccdad1;
}

.mainHeader p {
    max-width: 75%;
}

.topNav {
    padding: 10px;
    line-height: 1.25;
    float: top;
}

.navLinks {
    color: white;
    font-size: 32px;
    margin: 10px;
    text-decoration: none;
}

.Blog-title, .Blog-title:hover {
    color: white;
    text-decoration: none;
}

.subheader {
    font-size: 15px;
    font-weight: bold;
    background-color: #ccdad1;
    color: #201110;
    padding: 0 10px;
    display: inline-block;
    border-radius: .2rem;
    box-shadow: 6px 5px #a1a0a1;
}

.card {
    border-style: solid;
    border-color: #201110;
    margin: 1rem;
}

.card-header {
    color: #ccdad1;
    background-color: #201110;
}

.card-header > h1 {
    margin: 0rem;
}

.card-body {
    padding: 1%;
}

.comment-input {
    width: 100% !important;
}

.comment {
    border-style: solid;
    border-color: #201110;
    margin: 1rem;
}

.comment-body {
    padding: 1rem;
    background-color: white;
}

.comment-header {
    height: 100%;
    width: 100%;
    color:white;
    background-color: #201110;
    
}